

@font-face {
    font-family: "FForward";
    src: url("../fonts/FFFFORWA.TTF") format("opentype");
}

@font-face
{
    font-family: "joystix_monospace";
    src:url("../fonts/joystix\ monospace.otf") format(truetype)
}

@font-face
{
    font-family: "RetroG";
    src:url("../fonts/Retro\ Gaming.ttf") format(truetype)
}

@font-face
{
    font-family: "Rune";
    src:url("../fonts/runescape_uf.ttf") format(truetype)
    /* faut installer font forge pour edit le fichier */
}













body
{
    background-image: url(../images/rest/background_portfo_switch.gif);
    color: black;
    background-color: rgb(27, 26, 26);
    height: 200vh; /* pour permettre le scroll */

}

header
{
    height: 15%;
}

.header
{
    background-color: #b9c2c7;
    /* padding: 3px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 25px;
    /* background: white; */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.35s ease;
    z-index: 1000;
}

.header--hidden {
  transform: translateY(-100%);
}

.header h1 {
  margin: 0;
  font-size: 20px;
}



.navbar_div > a > img
{
    max-width: 100%;
    height: 20%;
    width: 20%;
}

li > a
{
    text-decoration: none;
}

.navbar_div > a
{
    width: 20%;
}

nav
{
    width: 60%;
}

hr
{
    border-style: solid;
    border-color: black;
}


p
{
    font-family: "FForward";
    font-size: 175%;
    text-align : center;
    padding: 50px;
}

q
{
    font-family: 'FForward';
    font-size: 200%;
    text-align : center;
    padding: 50px;
}

blockquote
{
    font-family: 'FForward';
    font-size: 200%;
    text-align : center;
    padding: 50px;
    width: 50%;
}

.navbar
{
    margin: -5px 7% 0px 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* height: 75%; */
    /* margin-right: 7%;
    margin-left: 7%; */

    /* width: 80%; */
}

.navbar > nav
{
    display: flex;
    flex-direction: row;
}

.bar
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
}

li
{
    padding: 0px 5px;
}

.navbar_div
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    /* width: 100%; */
}
/*
.navbar_div
{
    letter-spacing: 3px;
    font-weight: 400;
    position: fixed;
    width: 100%;
    top: 0; /* Définir la distance à partir du haut de la fenêtre /
    font-weight: 600;
    z-index: 100;
}
*/
section
{
    border-radius: 1px 0px 0px 0px;
    background-color: #b9c2c7;
    /* or silver */
    margin: 30px 170px;
    padding: 5px 10px;
    border-style: solid;
    border-width:4px;
    border-color: white grey grey white;
/*  faut que je le set up pour que ce soit que dans un angle (faudra
changer la couleur aussi parce que la ça va pas mdrrr */
}

section > section
{
    margin: 10px 60px;
    padding: 5px 10px;
}

.icons
{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.icons > img
{
    width: 10%;
    height: 10%;
}

.cmatete 
{
    text-align: end;
    
    width: 250px;
}

.bandeau_prez > h1
{
    text-align: center;
    background-color: black;
    margin: 6% 10px 6% 0px;
    font-size: 350%;
}

.gallery
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.gallery > div
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.gallery > img
{
    padding-left: 50px;
    height: 30%;
    width: 30%;
    transition: transform 0.5s ease;
}

.gallery > img:hover
{
    transform: scale(1.75);
    /*
    height: 75%;
    width: 75%;
    */
}


footer
{
    background-color: black;
    bottom: 0;
    height: 300px;
    padding-bottom: 50px;
}

footer > article
{
    height:300px;
}

article
{
    width: 33%;
    display:inline-block;
    text-align: center;
    color: white;
    
}

article > h2
{
    font-family: 'joystix_monospace';
    font-size: 250%;
    color: white;
}

article > ul
{
    font-size: 200%;
    list-style-type: none;
}

article > ul > li 
{
    margin: 20px;
}



/*


// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}


*/




.title_cube
{
    font-family: 'joystix_monospace';
    font-size: 300%;
}

.forma_title
{
    font-family: 'joystix_monospace';
    font-size: 250%;
}

.forma_date
{
    font-family: 'joystix_monospace';
    font-size: 125%;

}

.button
{
    display: flex;
}

.button > ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    padding: 0px;
}

.button > ul > a
{
    
    text-decoration: none;
}

.button > ul > li > a
{
    background-color: black;
    padding: 20px;
    border-style: dashed;
    border-radius: 1px;
    border-color: white grey grey white;
}

.navbar > nav
{
    display: flex;
    flex-direction: row;
}

.pres_proj
{
    display: block;
    text-align: center;
}

.pres_proj > a > img
{
    height: 70%;
    width: 70%;
    margin-bottom: 30px;
    border-style: solid;
    border-radius: 1px;
    border-color: white grey grey white;
}

.basic_link
{
    text-align: center;
    background-color: black;
    padding: 20px;
    border-style: dashed;
    border-radius: 1px;
    border-color: white grey grey white;
}

.big_sect
{
    padding-bottom: 50px;
}

.big_sect > hr
{
    margin-bottom: 60px ;
}

.bandeau_prez
{
    
    color: white;
    font-family: 'Courier New', Courier, monospace;
/* pour la font c'est pas ça, faudra aller chercher une font "pixel",
"old school" "vieille" genre warframe 1980, mais pas celle de joelg,
tout de même, je ne vais pas tout voler de ce site non plus ! */
}

.nom_pre_age_cv_tronche
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nom_pre_age_cv_tronche > div > h2
{
    font-size: 300%;
}



a 
{
    text-decoration: underline;
    color: white;
}
